const { z } = require('zod');

const demoValidation = {
  create: z.object({
    body: z.object({
      name: z.string({ required_error: 'Name is required' }),
      description: z.string().optional(),
    }),
  }),
};

module.exports = { demoValidation };
