const { Schema, model } = require('mongoose');

const demoSchema = new Schema(
  {
    name: { type: String, required: true },
    description: { type: String },
  },
  { timestamps: true },
);

const DemoModel = model('Demo', demoSchema);
module.exports = { DemoModel };
