const { Router } = require('express');
const { demoRouter } = require('../modules/demo_module/demo_module.route');

const router = Router();

const moduleRoutes = [
  { path: '/demo', route: demoRouter },
];

moduleRoutes.forEach(({ path, route }) => router.use(path, route));

module.exports = router;
